.fold-left-enter-active {
  animation-name: fold-left-in;
  animation-duration: 0.8s;
  animation-timing-function: cubic-bezier(0.4, 1.1, 0, 1);
}
.fold-left-leave-active {
  position: absolute;
  animation-name: fold-left-out;
  animation-duration: 0.8s;
  animation-timing-function: cubic-bezier(0.4, 1.1, 0, 1);
}
.fold-right-enter-active {
  animation-name: fold-right-in;
  animation-duration: 0.8s;
  animation-timing-function: cubic-bezier(0.4, 1.1, 0, 1);
}
.fold-right-leave-active {
  position: absolute;
  animation-name: fold-right-out;
  animation-duration: 0.8s;
  animation-timing-function: cubic-bezier(0.4, 1.1, 0, 1);
}
@keyframes fold-left-in {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    opacity: 0%;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 100%;
  }
}
@keyframes fold-left-out {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 100%;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    opacity: 0%;
  }
}
@keyframes fold-right-in {
  0% {
    width: 100%;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    opacity: 0%;
  }
  100% {
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 100%;
  }
}
@keyframes fold-right-out {
  0% {
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 100%;
  }
  100% {
    width: 100%;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    opacity: 0%;
  }
}
